:root {
  font-size: 14pt;
}

.librarySection {
    font-size: 16pt;
    margin: 2rem;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 2rem;
  height: 100vh;
  background: green;
    background: linear-gradient(to bottom, green, lightgreen);
}

h1 {
    text-align: center;
    color: darkred;
    margin-bottom: 2rem;
}

li {
    margin-bottom: 2rem;
    font-weight: bold;
    font-size: 20pt;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2rem;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}

.breadcrumb {
  padding: 0;
  margin-bottom: 2rem;
  list-style: none;
}
.breadcrumb li {
  display: inline;
}
.breadcrumb li::after {
  content: " > ";
}
.breadcrumb li:nth-last-child()::after {
  content: "";
}