:root {
  font-size: 14pt;
}

body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.librarysystem {
    display: flex;
    flex-direction: column; /* 縦方向に並べる */
    height: 100%;
}

.librarysystem-content {
    flex: 1;
    padding: 30px;
    overflow-y: auto;
}

.sidebar {
    width: 100%;
    background-color: #2c3e50;
    padding: 10px 20px;
    box-sizing: border-box;
}

.sidebar h1 {
    margin: 0 0 10px 0;
    font-size: 1.1rem;
    text-align: left;
    border: none;
    color: white;
    border-bottom: 1px solid #546e7a;
    padding-bottom: 10px;
}

.sidebar ul {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;

    overflow-x: auto;        /* 横スクロール */
    white-space: nowrap;
}

.sidebar li {
    margin: 0;
    flex-shrink: 0;          /* 縮まない */
}

.sidebar a {
    position: relative;
    display: inline-block;
    padding: 10px 5px;
    color: #ecf0f1;
    text-decoration: none;
    font-weight: bold;
}

.sidebar a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 3px;
    background-color: #1abc9c;
    transform: scaleX(0);
    transition: transform 0.3s;
}

.sidebar a:hover::after,
.sidebar a.active::after {
    transform: scaleX(1);
}

.sidebar a:hover {
    background-color: #1abc9c;
}

h1 {
    color: #2c3e50;
    margin-bottom: 30px;
}

.kpi-container {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

.kpi-card {
    flex: 1;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    text-align: center;
}

.kpi-card h3 {
    margin: 0 0 10px;
    font-size: 1rem;
    color: #7f8c8d;
}

.kpi-value {
    font-size: 2.5rem;
    font-weight: bold;
    color: #2c3e50;
    margin: 0;
}

.unit {
    font-size: 1rem;
    font-weight: normal;
}

.charts-container {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.chart-box {
    flex: 1;
    min-width: 300px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.chart-box h3 {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 20px;
}

.breadcrumb {
    padding: 0;
    margin-bottom: 2rem;
    list-style: none;
}
.breadcrumb li {
    display: inline;
}
.breadcrumb li::after {
    content: " > ";
}
.breadcrumb li:nth-last-child(1)::after {
    content: "";
}

li {
    margin-bottom: 2rem;
    font-weight: bold;
    font-size: 14pt;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2rem;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}